body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul,
li {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    padding: 30px 15px;
    margin: auto;

}

.top-head {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(28, 25, 65, .8), rgba(28, 25, 65, .8)), url(../images/banner.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.menu-bar {
    overflow: auto;
    width: 100%;
    margin: auto;
}

.nav-bar-list {
    width: 40%;
    float: left;
    padding: 20px 20px;

}

.nav-item {
    list-style: none;
    float: left;
}

.nav-list-item {
    display: inline-block;
    padding: 10px;

}

.nav-item-style {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;

}

.nav-logo {
    width: 20%;
    float: left;
    padding: 20px 20px;
}

.header-title {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0px;
}

.title-txt {
    font-size: 95px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    text-align: center;
    color: white;


}

.txt-clr {
    color: #26baff;
}

.header-pera {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    ;
    line-height: 1.7em;
    color: white;
    text-align: center;
    padding-top: 16px;
}

.header-anchor {
    padding-top: 0px 20px;
    margin: 0 auto;
    width: 45%;
    text-align: center;
}

.header-contact {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #26BAFF;
    background-color: #26BAFF;
    color: white;
    padding: 20px 40px;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.header-port {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 1px solid #26BAFF;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    border-radius: 2px;
    display: inline-block;
}

.section-about {
    width: 100%;
    color: white;

}

.about {
    overflow: auto;
    padding: 50px 0px;
}

.about-cont {
    width: 50%;
    float: left;
    text-align: left;

}

.about-head {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    padding-bottom: 18px;
    color: #232044;
}

.line {
    width: 120px;
    height: 6px;
    display: inline-block;
    background-color: #26BAFF;
}

.line1 {
    height: 6px;
    display: inline-block;
    background-color: #26BAFF;
    width: 8px;
}

.line2 {
    height: 6px;
    display: inline-block;
    background-color: #26BAFF;
    width: 8px;
}

.about-anchor {
    text-align: left;
    width: 80%;
    padding: 20px 0px;
}

.about-port {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    border: 1px solid #26BAFF;
    text-decoration: none;
    color: white;
    padding: 24px 44px;
    border-radius: 2px;
    display: inline-block;
    background-color: #232044;
}

.about-text {
    width: 100%;
    text-align: left;
    padding-top: 20px;
}

.about-pera {
    font-size: 14px;
    color: #232044;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    padding-bottom: 20px;


}

.about-img {
    width: 50%;
    float: left;
    padding-top: 90px;
    padding-left: 30px;
}

.service-section {
    width: 100%;
    background-color: #232044;
    padding: 80px 0px;
}

.sec-text {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
    line-height: 1.3em color: #26baff;
    font-weight: 500;
    color: #26BAFF;

}

.sec-texth3 {
    font-size: 35px;
    font-weight: 700;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 18px;
    line-height: 1.3em;
}

.ser-txt {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-top: 20px;
    color: white;
    line-height: 1.7em;
    font-weight: 500;

}

.section-cards {
    width: 100%;
    background-color: #232044;
    overflow: auto;
}

.sec-card-det {
    width: 33.33%;
    float: left;
    padding: 10px;
    text-align: left;
}

.about-h4 {
    color: #26baff;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    padding-top: 15px;

}

.about-pera-txt {
    color: white;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    /*    padding: 15px 0px;*/
}

.feature-section {
    width: 100%;
    padding-top: 80px;
    overflow: auto;
}

.feature-txt {
    font-weight: 700;
    color: #232044;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    padding-bottom: 18px;
    text-align: center;
}

.feature-line {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}

.feature-pera {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
}

.feature-txt-pera {

    color: #232044;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
}




.feature-pera-cont {
    width: 33.33%;
    float: left;
    padding: 20px;
    text-align: center;
}

.fea-img {
    text-align: center;
    width: 100%;
}

.fea-pt {
    text-align: center;
    color: #232044;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.fea-txt {

    font-size: 18px;
    font-weight: 700;
    line-height: 1.3em;
    padding-top: 22px;
    padding-bottom: 15px;
    font-family: inherit;

}

.fea-pera {
    font-weight: 400;
    font-size: 14px;
    padding: 0px 0px;
    line-height: 1.7em;
    font-family: inherit;


}

.portfolio-section {
    width: 100%;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.button-grp {


    padding: 50px 40px;
    text-align: center;

}

.btn-port {
    overflow: auto;
    display: inline-block;



}


.button-list-item {
    list-style: none;
    float: left;
    text-align: center;
    margin-right: 7px;
}

.button-anchor {
    color: white;
    background-color: #26baff;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
     
}

.btn-anchor {
    color: #26baff;
    background-color: #242047;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 16px;
    display: inline-block;
}

.port-gallery {
    width: 100%;
    overflow: auto;
}

.gallery {
    width: 33.33%;
    float: left;
    padding: 15px 15px;

}

.fun-fact {
    background-image: linear-gradient(rgba(35, 32, 68, .8), rgba(35, 32, 68, .8)), url(../images/promo_bg.jpg);
    background-attachment: fixed;
    padding: 80px 0px;
    background-position: top center;
    background-size: cover;
    width: 100%;
}

.fun-gallery {
    width: 25%;
    color: white;
    float: left;
    padding: 15px 15px;
    text-align: center;
}

.fun-h2 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.fun-h3 {
    font-size: 26px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.team-section {
    width: 100%;
    background-color: white;
    padding: 80px 0px;
}

.team-gallery {
    width: 100%;
    overflow: auto;

}

.team-gal-list {
    width: 33.33%;
    float: left;
    padding: 15px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.gal-txt {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.3em;
    padding-top: 20px;
    color: #232044;
}

.gal-pera {
    font-weight: 400;
    font-size: 16px;
    color: #232044;
    line-height: 1.7em;
}

.package-section {
    width: 100%;
    background-color: #F6F6F6;
}

.pack-cont {
    width: 41.66%;
    float: left;
    padding: 15px 15px;
}

.pack-txt {
    padding: 90px 40px;
    text-align: left;
}

.product {
    width: 58.33%;
    float: left;
    padding: 10px 10px;
    overflow: auto;

}

.pro-card {
    width: 33.33%;
    overflow: hidden;
/*    padding-right: 20px;*/
    padding-bottom: 20px;
    float: left;
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px -1px 5px 1px #80808087;
}

.pro-card-light {
    width: 33.33%;
    overflow: hidden;
/*    padding-right: 20px;*/
    padding-bottom: 20px;
    float: left;
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px -1px 5px 1px #80808087;
    opacity: 0.4;
}

.pro-color {
    width: 100%;
    height: 100px;
    background-color: #26BAFF;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 100%;

}

.pro-txt {
    font-size: 28px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
}

.pro-items {
    padding: 15px 15px;
}

.pro-item-list {
    list-style: none;
    padding: 15px 0px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7em;
    font-weight: 600;
    color: #232044;

}

.pro-btn {
    border: 2px solid #26BAFF;
    color: #232044;
    font-size: 14px;
    font-family: 'montserrat',sans-serif;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;

}

.pro-btn-cont {
    padding: 15px 15px;
}

.client-section {
    width: 100%;
    background-image: linear-gradient(rgba(35, 32, 68, .8), rgba(35, 32, 68, .8)), url(../images/review_bg.jpg);
    background-size: cover;
    background-position: cover;
    background-attachment: fixed;
    padding: 80px 150px;
}

.client-img {
    width: 30%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.client-txt {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.client-h2 {
    font-size: 20px;
    color: white;
    font-weight: 600;
    padding-top: 30px;
    font-family: 'montserrat', sans-serif;
    line-height: 1.3em;
}

.client-h4 {
    font-size: 14px;
    color: white;
    font-weight: 400;
    font-family: 'montserrat' , sans-serif;
    padding-top: 10px;
    line-height: 1.3em;
}

.client-pera {
    font-size: 18px;
    font-weight: 400;
    font-family: 'montserrat',  sans-serif;
    color: white;
    line-height: 1.7em;
    padding-top: 50px;

}

.blog-card {
    padding: 15px 30px;
    text-align: center;
}

.blog-h2 {
    color: #232044;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 14px;
    font-family: 'montserrat' , sans-serif;
    line-height: 1.3em;
}

.blog-pera {
    color: #232044;
    font-family: 'montserrat', sans-serif;
    line-height: 1.7em;
    font-size: 14px;
    font-weight: 400;
}

.blog-btn {
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    border: 2px solid #26BAFF;
    background-color: #26BAFF;
    border-radius: 3px;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    display: inline-block;
}

.blog-cont-out {
    width: 33.33%;
    float: left;
    padding: 14px;
}

.blog-cont {

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
}

.contact-form {
    width: 100%;
    background-color: white;
    padding: 48PX 56PX;
    box-shadow: -1px 2px 26px -6px #000000;
    overflow: auto;
}

.form-partone {
    width: 50%;
    float: left;
    padding: 15px;
}

.form {
    padding: 20px 0px;
}

.form-txt {
    font-weight: 500;
    color: #5b6b7a;
    font-size: 22px;
    padding-bottom: 20px;
    font-family: 'montserrat' , sans-serif;
    line-height: 1.3em;
}

.form-bottom {
    width: 100%;
    border-bottom: 1px solid #5b6b7a;
    padding: 7px 0px;

}

.form-h3 {
    font-weight: 400;
    color: #7876aa;
    font-size: 14px;
    font-family: 'monserrat', sans-serif;
    line-height: 1.3em;
}

.form-box {
    width: 100%;
    height: 90px;
    border: 1px solid #5b6b7a;
}

.pad {
    padding: 10px;
}

.form-send {
    color: #5b6b7a;
    border: 1px solid #5b6b7a;
    padding: 15px 32px;
    font-weight: 500;
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.form-parttwo {
    width: 41.66%;
    margin-left: 5.33%;
    float: left;

}

.contact-info {
    width: 100%;
    height: 110px;
    padding-top: 40px;
/*    padding-left: 36px;*/
    margin-bottom: 20px;
    overflow: auto;

}

.cont-img {
    padding-right: 20px;
    float: left
}

.cont-txt {

    font-family: 'montserrat' , sans-serif;
    font-size: 14px;
    float: left;
}

.footer-sec {
    width: 100%;
    background-color: #242047;
    padding: 10px;


}

.footer {
    width: 40%;
    padding: 0px 15px;
    float: left;
}

.foot-pera {
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-family: 'montserrat' , sans-serif;
}

.soc-foot {
    overflow: auto;
    width: 20%;
    padding: 10px 10px;
    float: right;

}

.soc-icon {

    padding: 0px 5px;

}

.foot {
    overflow: auto;
}
